body {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  background: radial-gradient(circle, #0f2027, #203a43, #2c5364);
  color: #00ffcc;
}

h2 {
  text-shadow: 0 0 10px #00ffcc;
}

input {
  display: block;
  margin: 10px auto;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #111;
  color: #0ff;
  box-shadow: 0 0 10px #00ffcc;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #00ffcc, #00ccff);
  color: #000;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 15px #00ffcc;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #00ffff;
}

#result {
  background: #000;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00ffcc;
}
